
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ConfirmationPage</servlet-name>
  	<display-name>ConfirmationPage</display-name>
  	<description></description>
  	<servlet-class>com.controller.ConfirmationPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PayOnline</servlet-name>
  	<display-name>PayOnline</display-name>
  	<description></description>
  	<servlet-class>com.controller.PayOnline</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registeration</servlet-name>
  	<display-name>Registeration</display-name>
  	<description></description>
  	<servlet-class>com.controller.Registeration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchFlights</servlet-name>
  	<display-name>SearchFlights</display-name>
  	<description></description>
  	<servlet-class>com.controller.SearchFlights</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeeAllFlights</servlet-name>
  	<display-name>SeeAllFlights</display-name>
  	<description></description>
  	<servlet-class>com.controller.SeAllFlights</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>com.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SourceDestination</servlet-name>
  	<display-name>SourceDestination</display-name>
  	<description></description>
  	<servlet-class>com.controller.SourceDestination</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListFlights</servlet-name>
  	<display-name>ListFlights</display-name>
  	<description></description>
  	<servlet-class>com.controller.ListFlights</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListAirlines</servlet-name>
  	<display-name>ListAirlines</display-name>
  	<description></description>
  	<servlet-class>com.controller.ListAirlines</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ConfirmationPage</servlet-name>
  	<url-pattern>/ConfirmationPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PayOnline</servlet-name>
  	<url-pattern>/PayOnline</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registeration</servlet-name>
  	<url-pattern>/Registeration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchFlights</servlet-name>
  	<url-pattern>/SearchFlights</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeAllFlights</servlet-name>
  	<url-pattern>/SeeAllFlights</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SourceDestination</servlet-name>
  	<url-pattern>/SourceDestination</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListFlights</servlet-name>
  	<url-pattern>/ListFlights</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAirlines</servlet-name>
  	<url-pattern>/ListAirlines</url-pattern>
  </servlet-mapping>
</web-app>
